@model Bingo.Models.BingoCard

@{
    ViewData["Title"] = "Bingo Card";
}
<style>
    table {
        font-size: 48pt;
        width: 100%;
        table-layout: fixed;
    }
    td {
        text-align: center;
        border: 1px solid black;
        width: 25%;
    }
    td a {
        width: 100%;
        height: 100%;
    }
    </style>

<h1 style="float: left; padding-top: 15px; padding-bottom: 15px;">Card number: @(Model.CardNumber)</h1>
<h1 style="float: right; padding-top: 15px; padding-bottom: 15px;">
    <a target="_blank" rel="noopener noreferrer" asp-action="index" asp-controller="home">New Card</a>
</h1>
<div>
    <table style="width: 100%; border: 2px solid black">
        
        @foreach (var row in Model.OrderedNumbers.Partition(5))
        {
            <tr>
                @foreach (var number in row)
                {
                    <td class="@(number == "FREE" ? "selected" : "")" id="@(number == "FREE" ? "freeSpace" : "")">
                        <a class="cell" href="#">
                            <svg viewBox="-50 -50 100 100" preserveAspectRatio="xMidYMid meet">
                                <text  text-anchor="middle" font-size="42" dy=".3em">@(number)</text>
                            </svg>
                        </a>
                    </td>
                }
            </tr>
        }
    </table>
</div>
<h1 id="printLink" style="float: right; padding-top: 15px; padding-bottom: 15px;">
    <a href="javascript:printCard()">Print</a>
</h1>