@model Bingo.Models.BingoCard

@{
    ViewData["Title"] = "Home Page";
}
<style>
    table {
        font-size: 48pt;
        width: 100%;
        table-layout: fixed;
    }
    td {
        text-align: center;
        padding: 30px;
        border: 1px solid black;
        width: 25%;
    }
    </style>

<h1>Card number: @(Model.CardNumber)</h1>
<div>
    <table style="width: 100%; border: 2px solid black">
        
        @foreach (var row in Model.OrderedNumbers.Partition(5))
        {
            <tr>
                @foreach (var number in row)
                {
                    <td>@(number)</td>
                }
            </tr>
        }
    </table>
</div>